<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learn_user.demo.mapper.sysLogMapper">
    <resultMap id="baseResultMap" type="learn_user.demo.domain.sysLog"></resultMap>
    <select id="findSysLogList" resultMap="baseResultMap">
        select * from log
    </select>
    <insert id="addSysLog">
        insert into log(url,log_type,log_method,params,session_token,client_ip,log_time,location,create_time)
        values(#{url},#{logType},#{logMethod},#{params},#{sessionToken},#{clientIp},#{logTime},#{location},#{createTime})
    </insert>

</mapper>